extends ../layout/index 

block contenido
    .py-10 
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes 
            span.font-normal Raíces
        h2(class="text-center text-2xl font-extrabold")=titulo

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5
                    div
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="email") Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(
                            placeholder="Tu Email"
                            type="email"
                            name="email")

                    div
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="password") Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(
                            placeholder="Tu Password"
                            type="password"
                            name="password")

                    input(class="w-full bg-indigo-600 hover:bg-indigo-700 cursor-pointer py-3 rounded-md text-white uppercase font-bold")(
                        type="submit"
                        value="Iniciar Sesión")