extends ../layout/index 

block contenido
    .py-10 
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes 
            span.font-normal Raíces
        h2(class="text-center text-2xl font-extrabold")=titulo

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5
                    div
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="nombre") Tu Nombre
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(
                            placeholder="Tu Nombre"
                            type="text"
                            name="nombre")

                    div
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="email") Email de Registro
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(
                            placeholder="Tu Email"
                            type="email"
                            name="email")

                    div
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="password") Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(
                            placeholder="Tu Password"
                            type="password"
                            name="password")

                    div
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="repetir_password") Repetir Password
                        input#repetir_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(
                            placeholder="Repite tu Password"
                            type="password"
                            name="repetir_password")